venv/
*.swp
*.py[cod]
*~
.coverage
.coveralls.yml
nosetests.xml
.tox

dist/
build/
python_chess.egg-info/
docs/_build/

data/gaviota/*.gtb.cp4
data/syzygy/regular/*.rtb[wz]
data/syzygy/suicide/*.stb[wz]
data/syzygy/atomic/*.atb[wz]
data/syzygy/giveaway/*.[gs]tb[wz]

release-v*.txt
