venv/
*.swp
*.py[cod]
*~
.coverage
.coveralls.yml
nosetests.xml
.tox

dist/
build/
python_chess.egg-info/
docs/_build/

data/gaviota/*.gtb.cp4
data/syzygy/regular/*.rtbw
data/syzygy/regular/*.rtbz
data/syzygy/suicide/*.stbw
data/syzygy/suicide/*.stbz

release-v*.txt
