venv/
*.swp
*.py[cod]
*~
.coverage
.coveralls.yml
nosetests.xml
.tox

dist/
build/
python_chess.egg-info/
docs/_build/

data/gaviota/*.gtb.cp4
data/syzygy/*.rtbw
data/syzygy/*.rtbz

pythonhosted.zip
release-v*.txt
